/* color palette inspired from <https://github.com/vuejs/theme> */

:root {
  /* Old colour scheme commented out for now */

  --color-highlight: hsla(160, 100%, 37%, 1);
  --text-color: #f2f2f2;
  /* --color: #008f11; */
  --color: #2c3e50;
  /* vt-c-indigo */
  --background: #2a312d;
  --black: #111;
  --background-transparent: rgba(0, 0, 0, 0.3);
  --backgroundDark: #1d221f;
  /* --highlight: #00d435; */
  --highlight: var(--color-highlight);
  --contrastColor: #23585f99;
  /*#007e8f;*/
  --sidebarWidth: 145px;
  --sectionMargin: 5vw;
  --textindent: 1.5rem;
  --main-title-size: clamp(1.5rem, 5vw, 4rem);
  --subtitle-size: clamp(1.25rem, 3.5vw, 2.5rem);
  --subsubtitle-size: clamp(1rem, 2vw, 1.5rem);
  --para-size: clamp(1rem, 1.5vw, 1.25rem);
  --gap: var(--para-size);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;

}

#app {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
}

/* Element styles, site-wide */
html {
  overflow: auto;
}

body {
  min-height: 100vh;

  background-color: var(--background);
  color: var(--text-color);

  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: auto;
}

a {
  text-decoration: none;
  color: var(--color-highlight);
  transition: 0.2s;
}

a:visited {
  text-decoration: none;
  color: var(--color-highlight);
}

a:active {
  font-style: italic;
  color: var(--color-highlight);
}

a:hover {
  cursor: pointer;
}

ul,
ol {
  padding-left: 1rem;
}

blockquote {
  margin-left: var(--textindent);
  background-color: rgba(0, 0, 0, 0.3);
  width: fit-content;
  padding-right: 1.5rem;
  border-top: 2px solid var(--highlight);
  border-bottom: 2px solid var(--highlight);
}

table {
  border: 2px var(--highlight) groove;
  margin-top: 1rem;
  text-align: center;
  border-collapse: collapse;
}

table td,
table th {
  padding: 2px 5px;
  border-right: 2px var(--highlight) groove;
}

table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.1);
}

table th {
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: var(--highlight) 4px groove;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1rem;
  margin-right: 1rem;
}

label {
  text-indent: 0px;
}

input,
textarea, select {
  color: var(--text-color);
  background-color: var(--background);
  padding: 0px 0.5rem;
}

select {
  appearance: none;
  display: inline;
  outline: none;
  border: none;
  text-align: center;
}

textarea {
  appearance: none;
  display: inline;
  outline: none;
  border: none;
  text-align: left;
  height: 3em;
}
